<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Chorale AMBODIMERINA{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/custom/css/print.css') }}">
	<style type="text/css">
		th, td {
			padding-left: 10px;
		}
	</style>
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>