<!DOCTYPE html>
<html>
<head>
	<title>Fiche d'inscription</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/themes/materia/bootstrap.min.css') }}">
	<style type="text/css">
		body {
			font-size: 20px;
			color: black;
		}

		h1 {
			font-family: Times New Roman;
		}

		.bold {
			font-weight: bold;
		}

		.andininy {
			font-family: Arial, Helvetica, sans-serif;
			font-style: italic;
		}

		.cel-5 {
			width: 40%;
		}

		.cel-4 {
			width: 20%;
		}

		.valeur {
			font-size: 20px;
			border: none;
			color: black;
		}

		p {
			text-indent: 50px;
			text-align: justify;
		}

		table, tr, td {
			border-top: 2px solid lightgrey;
			border-bottom: 2px solid lightgrey;
		}
	</style>
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<center>
					<h1>Inscription chorale AMBODIMERINA</h1>
					<br><br>
					
					<h5 class="andininy">"Mihirà fihiram-baovao ho an'i Jehovah; Mihirà ho an'i Jehovah, ry tany rehetra."</h5>
					<h5 class="bold">Salamo 96:1</h5>
				</center>
				<br>
				<div>
					<p>Ny ao amin'ny sampana hira sy zava-maneno dia faly manasa anao hanadevin-daharana ny chorale Ambodimerina, hiray dia amin'ny fiderana an'Andriamanitra sy ny fitoriana ny Teniny amin'ny alalan'ny hira.</p>
				</div>
				<br>
				<form>
					<table width="100%">
					    <tr>
					        <td class="cel-5">1 - Nom complet (Anarana feno)</td><td><input type="text" name="" class="form-control valeur" value=":"></td>
					    </tr>
					    <tr>
					        <td class="cel-5">2 - Appelation (Anarana fiantso)</td><td><input type="text" name="" class="form-control valeur" value=":"></td>
					    </tr>
					    <tr>
						    <td class="cel-5" class="cel-5">3 - Adresse (Adiresy)</td><td><input type="text" name="" class="form-control valeur" value=":"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5">4 - Téléphone (Nomerao finday)</td><td><input type="text" name="" class="form-control valeur" value=":"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5">5 - Anniverssaire</td>
					        <td><input type="text" name="" class="form-control valeur" value=":"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5">6 - Sexe (Lehilahy sa vehivavy)</td><td><input type="text" name="" class="form-control valeur" value=":    Masculin (Lehilahy)    |    Féminin (Vehivavy)"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5">7 - Efa nanao chorale</td><td><input type="text" name="" class="form-control valeur" value=":    Eny    |    Tsia"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5"><ul><li>7.1 - [Raha eny] Voix (Feo)</li></ul></td><td><input type="text" name="" class="form-control valeur" value=":    Soprano    |    Alto    |    Ténor    |    Bass"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5">8 - Mahay mamaky SOLFA</td><td><input type="text" name="" class="form-control valeur" value=":    Mahay    |    Tsy dia mahay    |    Tsy mahay mihitsy"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5">9 - Talent (Talenta)</td><td><input type="text" name="" class="form-control valeur" value=":"></td>
					    </tr>
					    <tr>
					    	<td class="cel-5">10 - Vonona hiditra chorale Ambodimerina</td><td><input type="text" name="" class="form-control valeur" value=":    Eny    |    Tsia"></td>
					    </tr>
					</table>
				</form>
			</div>
		</div>
		<br>
		<br>

		<div>
			<h4><strong>Soprano</strong> = 1ère voix (Feo voalohany)</h4>
			<h4><strong>Alto</strong> = 2ème voix (Feo faharoa)</h4>
			<h4><strong>Tenor</strong> = 3ème voix (Feo fahatelo)</h4>
			<h4><strong>Bass</strong> = Bass (Feo fahaefatra)</h4>
		</div>
		<br><br>
	</div>
</body>
</html>